@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "profile";
@import "leaderboard";
@import "font-awesome.css";
@import "new";
// Code

body {
  font-family: 'Montserrat', sans-serif;
  color: #2a2a2a;
}

h2{
  color: $primary-color;
  margin-bottom: 50px;
}
.activityList{
  margin:0;
  display: flex;
  padding: 0;
  background-color: #5e5e5e;
}
.activityList-item{
  padding: 2em 0;
  list-style-type: none;
  text-align: center;
  flex-grow: 1;
}
.activityList-item:first-child{
  border-right: 1px solid #2a2a2a;
}

h4.activityList-head{
  background-color: $primary-color;
  background: -moz-linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
  background: -webkit-linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
  background: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  color: white;
  margin: 0;
  padding:1em 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
}
.activity{
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: white;
  margin-top: 40px;
  border-radius: 5px;
  overflow: hidden;
}
#totalrun, #totaltime{
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  padding: 1.5em 0 3em 0;
  font-size: 2em;
}
#total, #week {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 2px 5px lightgrey;
  margin-bottom: 25px;

}
#week{
  text-align: center;
  margin-bottom: 75px;
  padding: 20px;

  .this-week {
    margin-top: 40px;
    font-weight: bold;
  }

  .next-week {
    margin-top: 20px;
    color: #5e5e5e;
  }
}
h4.inbox{
  display: block;
  width: 100%;
  text-align: center;
  color: $primary-color;
  padding-top: 1.5em;
}

#total:after, #week:after {
    content: "";
    display: table;
    clear: both;
  }
div.top3{
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.top3 section{
  width: 30%;
  text-align: center;
  background-color: $primary-color;
  padding: 1em 0;
  box-shadow: 0 2px 5px grey;
}
img#top3Avatar{
  margin:1em 0;
}
div.top3 p{
  color: white;
  font-size: 1.1em;
}
p#name{
  font-weight: bold;
}

div.bgContainer{
  background-color: black;
  background-image: url("../images/runningBg.png");
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  padding: 1.2em 5em;
  color: #fff;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}

/* Victoria Buttons */

a.animated-button.victoria-two {
  border: 2px solid $primary-color;
}
a.animated-button.victoria-two:after {
  background: $primary-color;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
section.indexContent{
  padding-top: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
section.indexContent h1{
  font-size: 1.8em;
  color: white;
}
nav.textLogo{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  padding-top: 1em;
}
nav.textLogo a{
  color: $primary-color;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}
.users{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.users form.form-add{
  width: 100%;
  display: block;
  margin: 20px 0;
}
.users form.form-add button.add-friend{
  margin-top: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  padding: 20px 40px;
  color: #FFF;
  background-color: $primary-color;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border:0;
  transition: all .2s ease;
}
.users form.form-add button.add-friend:hover{
  background-color: $secondary-color;
}
.avatar{
  border: 15px solid $primary-color;
  border-radius: 50%;
  transition: all 0.5s;
  width: 250px;
  height: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.avatar:hover{
  border: 15px solid $secondary-color;
}
@media (min-width: 480px) {
  section.indexContent{
    padding-top: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  a.animated-button:link, a.animated-button:visited {
    margin-left: auto;
    margin-right: auto;
    padding: 1.3em 7em;
    margin-top: 10em;

  }

  section.indexContent h1{
    font-size: 2.4em;
  }
  nav.textLogo{
    width: 100%;
    padding-left: 5em;
  }
  nav.textLogo a{
    color: $primary-color;
  }
  .activity{
    font-size: 1.3em;
    font-weight: bold;
  }
}

.weekly-goal {
  padding: 10px;
  border-radius: 5px;
  background-color: #5e5e5e;
  position: relative;
  overflow: hidden;

  p {
    text-align: center;
    position: relative;
    z-index: 5;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
  }

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 53px;
    background: $primary-color;
  }
}
@media (min-width: 570px) {
  .users{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .avatar{
    margin:0;
  }
}