
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Code

h2{
  color: $primary-color;
  margin-bottom: 0.5em;
}
.activityList{
  margin:0;
  padding: 0;
  background-color: white;
  .activityList-item{
    padding: 0.6em 1.2em;
    list-style-type: none;
    border-bottom: 1px solid lightgrey;
  }
}

h4.activityList-head{
  background-color: $primary-color;
  color: white;
  margin: 1em 0 0 0;
  padding:0.6em 1em;
}

