#leaderboard img {
  width: 60px;
  height:60px;
  border-radius: 50%;
  margin-right: 25px;
}

#leaderboard ul {
  list-style-type: none;
}


#leaderboard li {
  margin-bottom: 25px;
  background-color: #e77e21;
  padding:1.2em 0;
  color: white;
  box-shadow: 0 2px 5px grey;
  list-style-type: none;
}
#leaderboard h3{
  display: inline-block;
  width: 10%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
#leaderboard span{
  font-size: 1.1em;

}
